@import '../../styles/constants';

.message-input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: $dark;
  color: white;
  border-radius: 15px;
  border: none;
  outline: none;
  transition: 0.2s;

  &:focus {
    box-shadow: 0 0 3px 2px $primary;
  }
}
