@import '../../styles/constants';

.side-menu-filter {
  margin: 0 20px 0 auto;
  padding: 10px 0;

  &__btn {
    color: white;
    outline: none;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: $dark;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      padding-top: 7px;
      padding-bottom: 3px;
    }

    &:focus {
      box-shadow: 0 0 2px 1px $primary;
    }

    &:disabled {
      cursor: initial;
      opacity: initial;
    }

    &--active {
      background-color: $primary;
      box-shadow: 0 0 2px 1px $primary;
    }
  }
}

@media screen and (max-width: 600px) {
  .side-menu-filter {
    margin: 0 auto;
  }
}
