@import '../../styles/constants';

.dialog-window {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  width: 75vw;
  height: 100vh;
}

.idle-wrapper {
  display: flex;
  width: 75vw;
  text-align: center;
  align-items: center;
  justify-content: center;

  & h2 {
    padding: 0 10vw;
    color: $text-muted;
  }
}

@media screen and (max-width: 500px) {
  .dialog-window {
    padding: 15px;
  }
}
