@import '../../styles/constants';

$timestamp_margin: 66px;
$timestamp_margin_mw500px: 33px;

.message {
  position: relative;
  display: flex;
  padding: 30px 0;
  word-wrap: break-word;

  &--from {
    justify-content: flex-start;

    & .message__timestamp {
      left: $timestamp_margin;
    }

    & .message__text {
      background-color: $darkest;
    }
  }

  &--to {
    justify-content: flex-end;

    & .message__timestamp {
      right: $timestamp_margin;
    }
    & .message__text {
      background-color: $primary;
    }
  }

  &__text {
    max-width: 40vw;
    padding: 20px;
    border-radius: 25px;
  }

  &__timestamp {
    position: absolute;
    bottom: 0;
    color: $text-muted;
  }
}

@media screen and (max-width: 500px) {
  .message {
    flex-direction: column;
    padding: 20px 0;

    &--from {
      & .message__timestamp {
        left: $timestamp_margin_mw500px;
      }
    }

    &--to {
      & .message__timestamp {
        right: $timestamp_margin_mw500px;
      }
    }

    &__text {
      max-width: 100%;
      border-radius: 10px;
    }

    &__timestamp {
      bottom: -5px;
    }
  }
}
