@import '../../styles/constants';

.person-item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $darkest;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;

  &--active {
    background-color: $darker;
    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      right: 0;
      background-color: $secondary;
    }
  }

  &:hover {
    background-color: $darker;
  }

  &__main {
    width: 100%;

    &__username {
      margin: 0;
      font-size: 16px;
    }

    &__message {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      color: $text-muted;
      &__content {
        margin: 0;
      }
      &__timestamp {
        margin: 0;
      }
    }
  }
}
