@import '../../styles/auth.page';
@import '../../styles/constants';

.login-error {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  background-color: $darkest;
  color: $secondary;
}

.not-exist {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  background-color: $darkest;
  & .link {
    text-decoration: none;
    color: $primary;
    &:hover {
      opacity: 0.8;
    }
  }
}
