.submit-button {
  @extend .input-field;

  background-color: $primary;
  width: auto;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.5;
  }
}
