@import '../../styles/constants';

.my-profile {
  display: flex;
  background-color: $darker;

  &__info {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;

    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__exit {
    height: 100%;
    width: 20px;
    background-color: $secondary;
    cursor: pointer;
    outline: none;
    border: none;
    transition: box-shadow 0.1s;

    &:hover,
    &:focus {
      box-shadow: 0 0 5px 1px $secondary;
    }

    &:active {
      box-shadow: 0 0 5px 3px $secondary;
    }
  }
}

@media screen and (max-width: 600px) {
  .my-profile {
    &__info {
      justify-content: center;

      .avatar {
        margin: 0;
      }

      p {
        display: none;
      }
    }
  }
}
