@import '../../styles/constants';

.side-menu {
  display: flex;
  flex-direction: column;
  min-width: 60px;
  width: 25vw;
  height: 100vh;
  background-color: $darkest;
}

.person-list {
  flex: auto;
}
