@import '../../styles/constants';

.side-menu {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  width: 25vw;
  height: 100vh;
  background-color: $darkest;

  &__my-profile-loading {
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0;
  }
}

.person-list {
  flex: auto;
  position: relative;

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__messages-empty {
    text-align: center;
    color: $text-muted;
  }
}
