@import '../../styles/constants';

.side-menu {
  display: flex;
  flex-direction: column;
  min-width: 60px;
  width: 25vw;
  height: 100vh;
  background-color: $darkest;

  &__loading,
  &__messages-empty {
    text-align: center;
  }

  &__loading {
    padding: 10px 0;
  }

  &__messages-empty {
    color: $text-muted;
  }
}

.person-list {
  flex: auto;
}
