@import '../../styles/constants';

.message-box {
  overflow-y: auto;
  scrollbar-color: $darkest;
  scrollbar-width: auto;
  padding: 0 16px;
  margin: 12px 0;
  flex: 1;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: $darkest;
}
