@import '../../styles/constants';

$timestamp_margin: 66px;

.message {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px 15px;

  &--from {
    justify-content: flex-start;
    & .message__avatar {
      order: -1;
      margin: 0 16px 0 0;
    }
    & .message__timestamp {
      left: $timestamp_margin;
    }

    & .message__text {
      background-color: $darkest;
    }
  }

  &--to {
    justify-content: flex-end;
    & .message__avatar {
      margin: 0 0 0 16px;
    }
    & .message__timestamp {
      right: $timestamp_margin;
    }
    & .message__text {
      background-color: $primary;
    }
  }

  &__text {
    max-width: 40vw;
    padding: 20px;
    border-radius: 25px;
  }

  &__avatar {
    background-color: white;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50%;
  }

  &__timestamp {
    position: absolute;
    bottom: 0;
    color: $text-muted;
  }
}
